.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    z-index: 0;
}

.featuredItem {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s, filter 0.2s;
}

.featuredItem:hover {
    transform: translateY(-5px);
    filter: drop-shadow(8px 8px 8px rgb(9, 9, 9));
}

.featuredImg {
    border-radius: 10px;
    object-fit: cover;
    max-height: 370px;
}

.featuredTitles>h2 {
    color: #ececec;
    font-size: 32px;
}

.featuredTitles>p {
    color: #d1d1d1;
    font-size: 20px;
    font-weight: lighter;
}