.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
  }

  .cover{
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    justify-content: space-around;
    
    
  }

  .cover h1{
    font-size: 70px;
    position: relative;
    
  }

  .cover p{
    top: -80px;
    position: relative;
    font-size: 20px;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #febb02;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
  }
  
  .lButton:disabled{
    background-color: #febb02;
    cursor: not-allowed;
  }

  .lButton:hover{
    opacity: 0.8; 
 }
 
 .lButton:active{
     opacity: 0.5;
     
 }
